@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #F0EBCE;
  font-family: "Forum", cursive;
  color: #AA8B56;
  /* -------------------- HEADER -------------------- */
  /* -------------------- INDEX -------------------- */
  /* -------------------- CAMAS VOLCABLES -------------------- */
  /* -------------------- AMOBLAMIENTOS -------------------- */
  /* -------------------- CONTACTO -------------------- */
  /* -------------------- FOOTER -------------------- */
}

body header {
  background-color: #395144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  color: #AA8B56;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  z-index: 9999999999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body header div {
  margin-left: 30px;
}

body header div a {
  font-size: 45px;
  color: #AA8B56;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-shadow: 2px 2px 5px black;
}

body header div a:hover {
  color: #8C271E;
}

body header nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

body header nav ul li {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  color: #AA8B56;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header nav ul li a:hover {
  background-color: #4E6C50;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body header nav ul li .selected {
  background-color: #4E6C50;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body main {
  background-color: #4E6C50;
}

body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 80vh;
  margin: auto;
}

body main section div {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section div h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: #8C271E;
  text-shadow: 2px 2px 10px black;
}

body main section div h2 {
  font-size: 25px;
  text-shadow: 2px 2px 5px black;
}

body main section div p {
  font-size: 20px;
  margin-top: 30px;
  text-shadow: 2px 2px 5px black;
}

body main section figure {
  background-image: url("../img/cama.gif");
  height: 400px;
  width: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

body .amoblamientos h1 {
  font-size: 40px;
  text-align: center;
  padding: 25px 0;
  background-color: #4E6C50;
  border-bottom: 3px solid #AA8B56;
  text-shadow: 2px 2px 5px black;
}

body .amoblamientos--subsections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 50px 0 100px;
  scroll-margin-top: 250px;
}

body .amoblamientos--subsections--each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20vw;
  height: 50vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #8C271E;
  text-decoration: none;
  text-align: justify;
}

body .amoblamientos--subsections--each h2 {
  font-size: 30px;
}

body .amoblamientos--subsections--each p {
  font-weight: bold;
}

body .amoblamientos--subsections--each:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .amoblamientos--info {
  width: 80vw;
  margin: auto;
}

body .amoblamientos--info--subsections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  scroll-margin-top: 135px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

body .amoblamientos--info--subsections--detail {
  width: 40vw;
  height: 350px;
  margin-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .amoblamientos--info--subsections--detail h3 {
  color: #8C271E;
  font-size: 40px;
}

body .amoblamientos--info--subsections--detail p {
  text-align: justify;
}

body .amoblamientos--info--subsections--detail a {
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: #F0EBCE;
  font-family: "Forum", cursive;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

body .amoblamientos--info--subsections--detail a:hover {
  background-color: #AA8B56;
}

body .amoblamientos--info--subsections--detail--presupuesto {
  width: 20vw;
  background-color: #395144;
}

body .amoblamientos--info--subsections--detail--volver {
  width: 10vw;
  background-color: #8C271E;
}

body .amoblamientos--info--subsections figure {
  margin-right: 5vw;
}

body .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #8C271E;
  margin: 40px 0;
  height: 75vh;
}

body .contacto .info {
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacto .info--socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30vh;
  width: 40vw;
  font-size: 18px;
}

body .contacto .info--socialmedia ul {
  list-style-type: none;
}

body .contacto .info--socialmedia ul li {
  margin: 15px;
}

body .contacto .info--socialmedia ul li i {
  width: 28px;
}

body .contacto .info--socialmedia ul li a {
  text-decoration: none;
  color: #8C271E;
}

body .contacto .info--socialmedia ul li a:hover {
  font-weight: bold;
}

body .contacto .info--socialmedia p {
  margin: 15px 0;
}

body .contacto .info--map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45vh;
  width: 40vw;
}

body .contacto .info--map h3 {
  font-size: 20px;
}

body .contacto .info--map--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .contacto .info--map--location p {
  margin-left: 10px;
}

body .contacto .formContainer {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contacto .formContainer .form {
  background-color: #AA8B56;
  border: 2px solid #395144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 75vh;
  width: 30vw;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

body .contacto .formContainer .form--title {
  width: 25vw;
  text-align: start;
}

body .contacto .formContainer .form--inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45vh;
}

body .contacto .formContainer .form--inputs input {
  border: 2px solid #395144;
  padding: 10px;
  width: 25vw;
  font-family: "Forum", cursive;
  background-color: #F0EBCE;
  color: #8C271E;
}

body .contacto .formContainer .form--inputs input::-webkit-input-placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--inputs input:-ms-input-placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--inputs input::-ms-input-placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--inputs input::placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--inputs textarea {
  border: 2px solid #395144;
  padding: 10px;
  font-family: "Forum", cursive;
  background-color: #F0EBCE;
  resize: none;
  color: #8C271E;
}

body .contacto .formContainer .form--inputs textarea::-webkit-input-placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--inputs textarea:-ms-input-placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--inputs textarea::-ms-input-placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--inputs textarea::placeholder {
  color: #8C271E;
}

body .contacto .formContainer .form--button {
  padding: 8px 20px;
  border: 2px solid #395144;
  background-color: #395144;
  color: #F0EBCE;
  font-family: "Forum", cursive;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .contacto .formContainer .form--button:hover {
  background-color: #8C271E;
  border: 2px solid #8C271E;
}

body footer {
  background-color: #395144;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  position: relative;
  z-index: 9999999999;
}

body footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20vw;
}

body footer nav ul li {
  list-style-type: none;
}

body footer nav ul li a {
  border: 2px solid #AA8B56;
  border-radius: 50px;
  padding: 12px;
  height: 20px;
  width: 20px;
  color: #AA8B56;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body footer nav ul li a i {
  color: #AA8B56;
  font-size: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body footer nav ul li a:hover,
body footer nav ul li a:hover > i {
  border-color: #8C271E;
  color: #8C271E;
}

body footer div {
  margin-top: 15px;
}

body footer div p {
  color: #AA8B56;
  font-weight: bolder;
}

body footer div p span {
  color: #8C271E;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #395144;
}

body::-webkit-scrollbar-thumb {
  background-color: #4E6C50;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

body::-webkit-scrollbar-button:single-button {
  background-color: #395144;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

body::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #AA8B56 transparent;
}

body::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #F0EBCE transparent;
}

body::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 5px 5px 0 5px;
  border-color: #AA8B56 transparent transparent transparent;
}

body::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #F0EBCE transparent transparent transparent;
}

/* -------------------- MEDIA QUERIES -------------------- */
@media only screen and (max-width: 767px) {
  body {
    /* -------------------- HEADER -------------------- */
    /* -------------------- INDEX -------------------- */
    /* -------------------- AMOBLAMIENTOS -------------------- */
    /* -------------------- CONTACTO -------------------- */
    /* -------------------- FOOTER -------------------- */
  }
  body header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 120px;
  }
  body header div {
    margin-left: 0;
  }
  body header div a {
    font-size: 40px;
  }
  body header nav {
    height: 40px;
  }
  body header nav ul {
    margin-right: 0;
    width: 360px;
  }
  body header nav ul li {
    height: 40px;
    text-align: center;
  }
  body header nav ul li a {
    padding: 10px;
    font-size: 17px;
    white-space: nowrap;
  }
  body main {
    padding-bottom: 30px;
  }
  body main section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70vh;
  }
  body main section div {
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main section div h1 {
    font-size: 55px;
  }
  body main section div h2 {
    font-size: 20px;
    text-align: center;
  }
  body main section div p {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }
  body main section figure {
    height: 255px;
    width: 350px;
  }
  body .amoblamientos h1 {
    font-size: 30px;
    padding: 15px 0;
  }
  body .amoblamientos--subsections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0 100px;
  }
  body .amoblamientos--subsections--each {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 60vw;
    height: 45vh;
    margin: 0 auto 20px;
  }
  body .amoblamientos--subsections--each h2 {
    font-size: 25px;
  }
  body .amoblamientos--subsections--each p {
    font-size: 18px;
  }
  body .amoblamientos--info {
    margin: auto;
    width: 90vw;
  }
  body .amoblamientos--info--subsections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  body .amoblamientos--info--subsections--detail {
    width: 80vw;
    height: 450px;
    margin: 20px;
  }
  body .amoblamientos--info--subsections--detail h3 {
    font-size: 30px;
  }
  body .amoblamientos--info--subsections--detail--presupuesto {
    width: 60vw;
  }
  body .amoblamientos--info--subsections--detail--volver {
    width: 40vw;
  }
  body .amoblamientos--info--subsections figure {
    margin: 0 auto 20px;
  }
  body .amoblamientos--info--subsections figure img {
    width: 320px;
  }
  body .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
    margin-top: 15px;
  }
  body .contacto .info {
    width: 90vw;
    margin: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .contacto .info--socialmedia {
    width: 90vw;
    height: 25vh;
  }
  body .contacto .info--socialmedia ul li i {
    width: 23px;
  }
  body .contacto .info--socialmedia p {
    margin: 10px 0;
  }
  body .contacto .info--map {
    height: 35vh;
    width: 90vw;
    margin: 15px 0 30px;
  }
  body .contacto .info--map h3 {
    font-size: 20px;
  }
  body .contacto .info--map iframe {
    width: 360px;
  }
  body .contacto .info--map--location p {
    font-size: 18px;
  }
  body .contacto .formContainer {
    width: 90vw;
    margin: 30px auto 0;
  }
  body .contacto .formContainer .form {
    width: 80vw;
  }
  body .contacto .formContainer .form--title {
    width: auto;
    text-align: center;
    font-size: 25px;
  }
  body .contacto .formContainer .form--inputs input {
    width: 70vw;
    font-size: 18px;
  }
  body .contacto .formContainer .form--inputs textarea {
    font-size: 18px;
  }
  body .contacto .formContainer .form--button {
    padding: 10px 30px;
    font-size: 20px;
  }
  body footer {
    height: 100px;
  }
  body footer nav ul {
    width: 200px;
  }
  body footer div {
    margin-top: 8px;
  }
}
/*# sourceMappingURL=style.css.map */