@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import "./imports/variables";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: $color4;
    font-family: $font;
    color: $color3;

    /* -------------------- HEADER -------------------- */

    header {
        background-color: $color1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        color: $color3;
        box-shadow: 0 0 15px black;
        z-index: 9999999999;
        position: sticky;
        top: 0;

        div {
            margin-left: 30px;

            a {
                font-size: 45px;
                color: $color3;
                text-decoration: none;
                transition: all 0.5s;
                text-shadow: 2px 2px 5px black;

                &:hover {
                    color: $color5;
                }
            }
        }

        nav {
            height: 50px;
            display: flex;

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                li {
                    height: 50px;
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        padding: 10px 15px;
                        font-size: 20px;
                        color: $color3;
                        transition: all 0.5s;

                        &:hover {
                            background-color: $color2;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        }
                    }

                    .selected {
                        background-color: $color2;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }

    /* -------------------- INDEX -------------------- */

    main {
        background-color: $color2;

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80vw;
            height: 80vh;
            margin: auto;

            div {
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 70px;
                    text-transform: uppercase;
                    color: $color5;
                    text-shadow: 2px 2px 10px black;
                }

                h2 {
                    font-size: 25px;
                    text-shadow: 2px 2px 5px black;
                }

                p {
                    font-size: 20px;
                    margin-top: 30px;
                    text-shadow: 2px 2px 5px black;
                }
            }

            figure {
                background-image: url("../img/cama.gif");
                height: 400px;
                width: 550px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0 0 15px black;
            }
        }
    }

    /* -------------------- CAMAS VOLCABLES -------------------- */

    /* -------------------- AMOBLAMIENTOS -------------------- */

    .amoblamientos {
        h1 {
            font-size: 40px;
            text-align: center;
            padding: 25px 0;
            background-color: $color2;
            border-bottom: 3px solid $color3;
            text-shadow: 2px 2px 5px black;
        }

        &--subsections {
            display: flex;
            justify-content: space-evenly;
            margin: 50px 0 100px;
            scroll-margin-top: 250px;

            &--each {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 20vw;
                height: 50vh;
                transition: all 0.5s;
                color: $color5;
                text-decoration: none;
                text-align: justify;

                h2 {
                    font-size: 30px;
                }

                p {
                    font-weight: bold;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &--info {
            width: 80vw;
            margin: auto;

            &--subsections {
                display: flex;
                height: 450px;
                align-items: center;
                justify-content: space-between;
                scroll-margin-top: 135px;
                margin-bottom: 50px;
                box-shadow: 0 0 15px black;

                &--detail {
                    width: 40vw;
                    height: 350px;
                    margin-left: 5vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h3 {
                        color: $color5;
                        font-size: 40px;
                    }

                    p {
                        text-align: justify;
                    }

                    a {
                        border: none;
                        transition: all 0.5s;
                        cursor: pointer;
                        text-decoration: none;
                        color: $color4;
                        font-family: $font;
                        font-size: 20px;
                        text-align: center;
                        padding: 10px 0;

                        &:hover {
                            background-color: $color3;
                        }
                    }

                    &--presupuesto {
                        width: 20vw;
                        background-color: $color1;
                    }

                    &--volver {
                        width: 10vw;
                        background-color: $color5;
                    }
                }

                figure {
                    margin-right: 5vw;
                }
            }
        }
    }

    /* -------------------- CONTACTO -------------------- */

    .contacto {
        display: flex;
        justify-content: space-evenly;
        color: $color5;
        margin: 40px 0;
        height: 75vh;

        .info {
            width: 45vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &--socialmedia {
                display: flex;
                flex-direction: column;
                height: 30vh;
                width: 40vw;
                font-size: 18px;

                ul {
                    list-style-type: none;

                    li {
                        margin: 15px;

                        i {
                            width: 28px;
                        }

                        a {
                            text-decoration: none;
                            color: $color5;

                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }

                p {
                    margin: 15px 0;
                }
            }

            &--map {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 45vh;
                width: 40vw;

                h3 {
                    font-size: 20px;
                }

                &--location {
                    display: flex;

                    p {
                        margin-left: 10px;
                    }
                }
            }
        }

        .formContainer {
            width: 40vw;
            display: flex;
            justify-content: center;

            .form {
                background-color: $color3;
                border: 2px solid $color1;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 0 15px;
                height: 75vh;
                width: 30vw;
                box-shadow: 0 0 15px black;

                &--title {
                    width: 25vw;
                    text-align: start;
                }

                &--inputs {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 45vh;

                    input {
                        border: 2px solid $color1;
                        padding: 10px;
                        width: 25vw;
                        font-family: $font;
                        background-color: $color4;
                        color: $color5;

                        &::placeholder {
                            color: $color5;
                        }
                    }

                    textarea {
                        border: 2px solid $color1;
                        padding: 10px;
                        font-family: $font;
                        background-color: $color4;
                        resize: none;
                        color: $color5;

                        &::placeholder {
                            color: $color5;
                        }
                    }
                }

                &--button {
                    padding: 8px 20px;
                    border: 2px solid $color1;
                    background-color: $color1;
                    color: $color4;
                    font-family: $font;
                    cursor: pointer;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $color5;
                        border: 2px solid $color5;
                    }
                }
            }
        }
    }

    /* -------------------- FOOTER -------------------- */

    footer {
        background-color: $color1;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px black;
        position: relative;
        z-index: 9999999999;

        nav {
            ul {
                display: flex;
                justify-content: space-evenly;
                width: 20vw;

                li {
                    list-style-type: none;

                    a {
                        border: 2px solid $color3;
                        border-radius: 50px;
                        padding: 12px;
                        height: 20px;
                        width: 20px;
                        color: $color3;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.5s;

                        i {
                            color: $color3;
                            font-size: 25px;
                            transition: all 0.5s;
                        }

                        &:hover,
                        &:hover>i {
                            border-color: $color5;
                            color: $color5;
                        }
                    }
                }
            }
        }

        div {
            margin-top: 15px;

            p {
                color: $color3;
                font-weight: bolder;

                span {
                    color: $color5;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $color1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color2;
        box-shadow: 0 0 15px black;
    }

    &::-webkit-scrollbar-button:single-button {
        background-color: $color1;
        display: block;
        border-style: solid;
        height: 13px;
        width: 16px;
    }

    &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $color3 transparent;
    }

    &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent $color4 transparent;
    }

    &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 5px 5px 0 5px;
        border-color: $color3 transparent transparent transparent;
    }

    &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: $color4 transparent transparent transparent;
    }
}




























/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (min-width:768px) and (max-width:1023px) {}

@media only screen and (max-width:767px) {
    body {
    /* -------------------- HEADER -------------------- */

    header {
        flex-direction: column;
        justify-content: center;
        height: 120px;

        div {
            margin-left: 0;

            a {
                font-size: 40px;
            }
        }

        nav {
            height: 40px;

            ul {
                margin-right: 0;
                width: 360px;

                li {
                    height: 40px;
                    text-align: center;

                    a {
                        padding: 10px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
        /* -------------------- INDEX -------------------- */
    
        main {
            section {
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
                div {
                    height: 150px;
                    align-items: center;
    
                    h1 {
                        font-size: 50px;
                    }
    
                    h2 {
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    p {
                        font-size: 15px;
                        margin-top: 20px;
                        text-align: center;
                    }
                }
    
                figure {
                    height: 255px;
                    width: 350px;
                }
            }
        }
    
        /* -------------------- FOOTER -------------------- */
    
        footer {
            background-color: $color1;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 15px black;
            position: relative;
            z-index: 9999999999;
    
            nav {
                ul {
                    display: flex;
                    justify-content: space-evenly;
                    width: 20vw;
    
                    li {
                        list-style-type: none;
    
                        a {
                            border: 2px solid $color3;
                            border-radius: 50px;
                            padding: 12px;
                            height: 20px;
                            width: 20px;
                            color: $color3;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.5s;
    
                            i {
                                color: $color3;
                                font-size: 25px;
                                transition: all 0.5s;
                            }
    
                            &:hover,
                            &:hover>i {
                                border-color: $color5;
                                color: $color5;
                            }
                        }
                    }
                }
            }
    
            div {
                margin-top: 15px;
    
                p {
                    color: $color3;
                    font-weight: bolder;
    
                    span {
                        color: $color5;
                    }
                }
            }
        }
    }
}