@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import "./imports/variables";

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: $color4;
    font-family: $font;
    color: $color3;

    header {
        background-color: $color1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        color: $color3;
        box-shadow: 0 0 15px black;
        z-index: 9999999999;
        position: relative;

        div {
            margin-left: 30px;

            a {
                font-size: 45px;
                color: $color3;
                text-decoration: none;
                transition: all 0.5s;
                text-shadow: 2px 2px 5px black;

                &:hover {
                    color: $color5;
                }
            }
        }

        nav {
            height: 50px;
            display: flex;

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                li {
                    height: 50px;
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        padding: 10px 15px;
                        font-size: 20px;
                        color: $color3;
                        transition: all 0.5s;

                        &:hover {
                            background-color: $color2;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        }
                    }

                    .selected {
                        background-color: $color2;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }


    main {
        background-color: $color2;

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80vw;
            height: 500px;
            margin: auto;

            div {
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 70px;
                    text-transform: uppercase;
                    color: $color5;
                    text-shadow: 2px 2px 10px black;
                }

                h2 {
                    font-size: 25px;
                    text-shadow: 2px 2px 5px black;
                }

                p {
                    font-size: 20px;
                    margin-top: 30px;
                    text-shadow: 2px 2px 5px black;
                }
            }

            figure {
                background-image: url("../img/ezgif.com-gif-maker.gif");
                height: 400px;
                width: 550px;
                background-size: contain;
                box-shadow: 0 0 15px black;
            }
        }
    }

    .amoblamientos {
        h1 {
            font-size: 40px;
            text-align: center;
            padding: 20px 0;
            background-color: $color2;
            border-bottom: 3px solid $color3;
            text-shadow: 2px 2px 5px black;
        }

        &--subsections {
            display: flex;
            justify-content: space-evenly;
            margin: 40px 0;

            &--each {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 20vw;
                height: 50vh;
                transition: all 0.5s;

                h2 {
                    font-size: 30px;
                    color: $color5;
                }

                p {
                    font-weight: bold;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .contacto {
        display: flex;
        justify-content: space-evenly;
        color: $color5;
        margin: 40px 0;
        height: 75vh;

        .info {
            width: 45vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &--socialmedia {
                display: flex;
                flex-direction: column;
                height: 30vh;
                width: 40vw;
                font-size: 18px;

                ul {
                    list-style-type: none;

                    li {
                        margin: 15px;

                        i {
                            width: 28px;
                        }

                        a {
                            text-decoration: none;
                            color: $color5;

                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }

                p {
                    margin: 15px 0;
                }
            }

            &--map {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 45vh;
                width: 40vw;

                h3 {
                    font-size: 20px;
                }

                &--location {
                    display: flex;

                    p {
                        margin-left: 10px;
                    }
                }
            }
        }

        .formContainer {
            width: 40vw;
            display: flex;
            justify-content: center;

            .form {
                background-color: $color3;
                border: 2px solid $color1;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 0 15px;
                height: 75vh;
                width: 30vw;
                box-shadow: 0 0 15px black;

                &--title {
                    width: 25vw;
                    text-align: start;
                }

                &--inputs {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 45vh;

                    input {
                        border: 2px solid $color1;
                        padding: 10px;
                        width: 25vw;
                        font-family: $font;
                        background-color: $color4;
                        color: $color5;

                        &::placeholder {
                            color: $color5;
                        }
                    }

                    textarea {
                        border: 2px solid $color1;
                        padding: 10px;
                        font-family: $font;
                        background-color: $color4;
                        resize: none;
                        color: $color5;

                        &::placeholder {
                            color: $color5;
                        }
                    }
                }

                &--button {
                    padding: 8px 20px;
                    border: 2px solid $color1;
                    background-color: $color1;
                    color: $color4;
                    font-family: $font;
                    cursor: pointer;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $color5;
                        border: 2px solid $color5;
                    }
                }
            }
        }
    }

    footer {
        background-color: $color1;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px black;
        position: relative;
        z-index: 9999999999;

        nav {
            ul {
                display: flex;
                justify-content: space-evenly;
                width: 20vw;

                li {
                    list-style-type: none;

                    a {
                        border: 2px solid $color3;
                        border-radius: 50px;
                        padding: 12px;
                        height: 20px;
                        width: 20px;
                        color: $color3;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.5s;

                        i {
                            color: $color3;
                            font-size: 25px;
                            transition: all 0.5s;
                        }

                        &:hover,
                        &:hover>i {
                            border-color: $color5;
                            color: $color5;
                        }
                    }
                }
            }
        }

        div {
            margin-top: 15px;

            p {
                color: $color3;
                font-weight: bolder;

                span {
                    color: $color5;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $color1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color2;
        box-shadow: 0 0 15px black;
    }

    &::-webkit-scrollbar-button:single-button {
        background-color: $color1;
        display: block;
        border-style: solid;
        height: 13px;
        width: 16px;
    }

    &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $color3 transparent;
    }

    &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent $color4 transparent;
    }

    &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 5px 5px 0 5px;
        border-color: $color3 transparent transparent transparent;
    }

    &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: $color4 transparent transparent transparent;
    }
}